#contact_modal {
    display: none;
}

.photograph-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}

.photograph-name {
    color: #D3573C;
    font-size: 40px;
    margin-bottom: 0;
}

.photograph-location {
    color: #901C1C;
    margin-top: 4%;
}

.photograph-tagline {
    color: #757575;
}

.photograph-img {
    height: 200px;
    width: 200px;

}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

#tri {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2%;
    margin-left: 8%;
}

.modal-Link {
    /*height: 74%;*/
    text-decoration: none;
    /*height: 285px;*/
}

input[type="button"] {
    background-color: transparent;
    border-color: transparent;
}

.medias {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-left: 8%;
    margin-bottom: 5%;
}

.media-card {
    width: 285px;
    height: 74%;
}

.media-card img {
    height: 285px;
    width: 285px;
}

.media-card-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #901C1C;

}

.media-card-info p {
    margin-top: 6px;
    font-size: 25px;
}

.media-card-like {
    display: flex;
    flex-direction: row;
    width: 68px;
}

.media-card-like p {
    padding-right: 10px;
}

.media-card-like i {
    font-size: 25px;
    padding-top: 10.5px;
}

/*Css importé pour le custom select*/
.container {
    position: relative;
    margin-top: -3%;
    margin-bottom: 10%;
}

.select {
    position: relative;
    width: 140px;
    height: 40px;
    border-radius: 10px;
    border: none;
    text-transform: capitalize;
    color: #fff;
    background: #901C1C;
    text-align: left;
    padding: 0 15px;
    font-size: 16px;
    cursor: pointer;
}

.select::after {
    content: '';
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    width: 6px;
    height: 6px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

.select.active {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.options {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: fit-content;
    background: #901C1C;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    display: none;
}

.options.active {
    display: block;
}

.options .item {
    color: #fff;
    text-transform: capitalize;
    width: 100%;
    height: 30px;
    padding: 0 15px;
    line-height: 30px;
    cursor: pointer;
}

.options .item.active {
    background: #901C1C;
}

.inter {
    height: 1px;
    width: 82%;
    margin-left: 9%;
    background-color: white;
}

#selectLabel {
    font-weight: bold;
}

/*Fin css du custom select*/
/*Css modal form contact*/
#contact_modal {
    width: 100%;
    height: 300%;
    position: absolute;
    top: 0;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.5);
}

.modal {
    position: absolute;
    top: 15%;
    left: 22%;
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

#prem_label {
    margin-top: 60px;
}

div[class="modal"] header {
    margin-top: 20px;
}

div[class="modal"] img {
    margin-top: -75px;
}

textarea {
    border-color: transparent;
    width: 100%;
    height: 100px;
    border-radius: 5px;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

.photograph-more-info {
    display: flex;
    justify-content: space-around;
    font-size: 18px;
    font-weight: bold;
    position: fixed;
    right: 5%;
    bottom: 0;
    height: 52px;
    width: 285px;
    background-color: #DB8876;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.photograph-more-info i {
    position: relative;
    top: 40%;
    right: 14%;
    height: 35%;
}

/*Fin css modal form contact*/

/*Css modal lightbox*/
.lightBox-modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.7);
}

/* Modal Content */
.lightBox-modal-content {
    position: relative;
    background-color: transparent;
    margin: auto;
    padding: 0;
    width: 45%;
    max-width: 1200px;
}

/* The Close Button */
.lightBox-close {
    color: #901C1C;
    position: absolute;
    top: 65px;
    /*right: 25px;*/
    right: 26%;
    font-size: 35px;
    font-weight: bold;
}

.lightBox-title {
    position: absolute;
    top: 100%;
    left: 45%;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
    padding-left: 7%;
    display: none;
}

video {
    /*margin-left: 30px;*/
    width: 587px;
    height: 383px;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: #901C1C;
    font-weight: bold;
    font-size: 35px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: -21px;
    border-radius: 3px 0 0 3px;
}

div[class="mySlides"] img {
    /*padding-left: 13%;
    height: 383px;
    width: 383px;*/
    margin-top: -50px;
    height: 600px;
    width: 600px;
}

div[class="mySlides"] p {
    color: #901C1C;
    font-size: 25px;
}

.active,
.demo:hover {
    opacity: 1;
}

img.hover-shadow {
    transition: 0.3s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}